<% provide(:title, @day.title) %>
<h1><%= @day.title %></h1>
<%= form_tag("/days/#{@day.id}/update", :method => "post") do %>
  <%if @day.hacks.all.empty?%>
    <h2>Get Hacking!</h2>
  <%else %>
    <h2><%="You have #{pluralize @votes_left, "vote"} left."%></h2>
    <%= render @day.hacks %>
    <%= submit_tag "Vote", class: "btn btn-success"  %>
  <%end%>
  <%= link_to "New Hack", new_day_hack_path(@day),  class: "btn btn-primary" %>
<%end%>
